

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 0.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}



